In [44]:
#pip install mysql-connector-python

In [45]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pysql" #per usare un database
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001EA0DABDC40>

In [46]:
cursor = db.cursor()
#cursor.execute("CREATE DATABASE pysql")
'''
cursor.execute("SHOW DATABASES") #esegue azioni nel database

for x in cursor:
    print(x)
'''
cursor.execute("CREATE TABLE IF NOT EXISTS clienti(id int auto_increment primary key, nome varchar(255))")
cursor.execute("SHOW TABLES")

for x in cursor:
    print(x)

('clienti',)

In [47]:
#cursor.execute("ALTER TABLE clienti ADD cognome varchar(50)")

'''
sql = "INSERT INTO clienti (nome, cognome) VALUES (%s, %s)"
values = ("Luca","Rossi")

cursor.execute(sql, values)
'''

#sql = "INSERT INTO clienti (nome, cognome) VALUES (%s, %s)"
#values = [("Anna","Neri"), ("Maria","Neri"), ("Marco","Cioni")]

#cursor.executemany(sql, values)
#db.commit() #apporta effettivamente le modofiche al database

'\nsql = "INSERT INTO clienti (nome, cognome) VALUES (%s, %s)"\nvalues = ("Luca","Rossi")\n\ncursor.execute(sql, values)\n'

In [48]:
#db.close()